{% extends 'layout/basic.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'psalms/style.css' %}">
{% endblock styles %}

{% block content %}

<div class="form-container">
    <h2>Новий псалом</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}  
        <button class="btn btn-form btn-primery btn-outline-custom">Зберегти</button>
    </form>
    <a href="{% url 'psalms:psalm_list' %} " class="btn btn-primery btn-outline-custom">назад до списку</a>
</div>

{% endblock content %}