@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #6894A1;
    font-family: Roboto Serif;
    color: #283347;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.custom-navbar a .nav-link {
    color: #C3B59B;
}

.navbar-light {
    background-color: #283347;
    color: #C3B59B;
}


.navbar-light .navbar-nav .nav-link {
    color: #C3B59B;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #C3B59B;
    font-weight: 900;
    stroke: #6894A1 1px solid;
}

/* кастомні смужки кнопки меню */

.custom-toggler .navbar-toggler-icon {
    background-image: none !important; /* Прибираємо стандартний SVG */
    width: 25px;
    height: 3px;
    background-color: #C3B59B; /* Задаємо свій колір */
    position: relative;
}

.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #C3B59B; /* Задаємо свій колір */
    display: block;
}

.custom-toggler .navbar-toggler-icon::before {
    top: -8px;
}

.custom-toggler .navbar-toggler-icon::after {
    top: 8px;
}

.custom-toggler {
    outline: none !important; /* Прибирає обводку при фокусі */
    box-shadow: none !important; /* Прибирає тінь */
}

.custom-toggler:focus {
    outline: none !important; /* Додаткова гарантія */
    box-shadow: none !important; /* Додаткова гарантія */
}


/* кінець кастомні смужки кнопки меню */

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand p {
    color: #C3B59B;
    font-family: Roboto Serif;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-left: 3px solid #C3B59B;
    padding-left: 10px;
    margin-bottom: 0;
}

.btn-outline-custom {
    background-color: transparent;
    color: #283347;
    border: 2px solid #283347;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 170px;
}

.btn-outline-custom:hover {
    background-color: #283347;
    color: #6894A1;
    border: 2px solid #283347;
}

.btn-form {
    margin-bottom: 5px;
}

/* Стили для текстовых полей */

.form-container {
    max-width: 600px;
    /* Максимальна ширина форми */
    margin: 0 auto;
    /* Вирівнювання по центру */
    padding: 20px;
    /* Внутрішні відступи */
    -background-color: #f9f9f9;
    /* Фоновий колір (за бажанням) */
    -border: 2px solid #283347;
    /* Граница */
    -border-radius: 10px;
    /* Закруглені кути */
    -box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Тінь */
}

.form-control {
    background-color: #6894A1;
    /* Цвет фона */
    border: 2px solid #283347;
    /* Граница */
    color: #283347;
    /* Цвет текста */
    border-radius: 5px;
    /* Закруглённые углы (по желанию) */
    padding: 10px;
    /* Внутренние отступы */
    font-size: 16px;
    /* Размер текста */
}

/* Стили при фокусе на поле */
.form-control:focus {
    background-color: #6894A1;
    outline: none;
    border-color: #283347;
    /* Цвет границы при фокусе */
    box-shadow: 0 5px 15px rgba(40, 51, 71, 0.5);
    /* Эффект свечения */
    color: #283347;
}

/* Стили для плейсхолдера */
.form-control::placeholder {
    color: #283347;
    /* Цвет текста плейсхолдера */
    opacity: 0.8;
    /* Прозрачность */
}


/* медиа запросы */

@media(max-width: 1200px) {}

@media(max-width: 768px) {
    .title h3 {
        margin-left: 0px;
        text-align: center;
    }

    .text p {
        margin-left: 0px;
    }
}

@media(max-width: 520px) {
   
}