@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    background-color: #6894A1;
    font-family: Roboto Serif; 
    color: #283347;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    color: #283347;
}

a {
    text-decoration: none;
}

.custom-navbar a .nav-link {
    color: #C3B59B;
}

.navbar-light {
    background-color: #283347;
    color: #C3B59B;
}


.navbar-light .navbar-nav .nav-link {
    color: #C3B59B;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #C3B59B;
    font-weight: 900;
    stroke: #6894A1 1px solid;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand p {    
    color: #C3B59B; 
    font-family: Roboto Serif; 
    font-weight: 900;
    font-size: 28;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-left: 3px solid #C3B59B;
    padding-left: 10px;
    margin-bottom: 0;
}


/* медиа запросы */

@media(max-width: 1200px) {

}

@media(max-width: 768px) {
    .title h3 { 
        margin-left: 0px;
        text-align: center;
    }

    .text p {   
        margin-left: 0px;
    }
}

@media(max-width: 520px) {

}
