@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    background-color: #6894A1;
    font-family: Roboto Serif; 
    color: #283347;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    color: #283347;
}

a {
    text-decoration: none;
}

.custom-navbar a .nav-link {
    color: #C3B59B;
}

.navbar-light {
    background-color: #283347;
    color: #C3B59B;
}


.navbar-light .navbar-nav .nav-link {
    color: #C3B59B;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #C3B59B;
    font-weight: 900;
    stroke: #6894A1 1px solid;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand p {    
    color: #C3B59B; 
    font-family: Roboto Serif; 
    font-weight: 900;
    font-size: 28;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-left: 3px solid #C3B59B;
    padding-left: 10px;
    margin-bottom: 0;
}

.btn-outline-custom {
    background-color: transparent;
    color: #283347;
    border: 2px solid #283347;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 170px;
  }
  
  .btn-outline-custom:hover {
    background-color: #283347;
    color: #6894A1;
    border: 2px solid #283347;
  }
  
  .btn-form {
    margin-bottom: 5px;
  }
  
  /* Стили для текстовых полей */
  .form-control {
    background-color: #6894A1; /* Цвет фона */
    border: 2px solid #283347; /* Граница */
    color: #283347; /* Цвет текста */
    border-radius: 5px; /* Закруглённые углы (по желанию) */
    padding: 10px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
  }
  
  /* Стили при фокусе на поле */
  .form-control:focus {
    background-color: #6894A1;
    outline: none;
    border-color: #283347; /* Цвет границы при фокусе */
    box-shadow: 0 5px 15px rgba(40, 51, 71, 0.5); /* Эффект свечения */
    color: #283347;
  }
  
  /* Стили для плейсхолдера */
  .form-control::placeholder {
    color: #283347; /* Цвет текста плейсхолдера */
    opacity: 0.8; /* Прозрачность */
  }


/* медиа запросы */

@media(max-width: 1200px) {

}

@media(max-width: 768px) {
    .title h3 { 
        margin-left: 0px;
        text-align: center;
    }

    .text p {   
        margin-left: 0px;
    }
}

@media(max-width: 520px) {

}
