{% extends 'layout/basic.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'cal/style.css' %}">
{% endblock styles %}

{% block content %}

<div class="form-container">
    <h2>Додати нове свято</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-form btn-primery btn-outline-custom">Зберегти</button>
    </form>
    <a href="{% url 'cal:today_holiday' %} " class="btn btn-primery btn-outline-custom">назад до свят</a>
</div>



{% endblock content %}