{% extends 'layout/basic.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'cal/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="title">
    <h3>Сьогодні {{ today }} святкуємо:</h3>
</div>

{% if holiday %}
    <div class="bor">
        <div class="text">
            <p>{{ holiday.name }}</p>
        </div>
        <div class="text">
            <p>{{ holiday.description }}</p>
        </div>
    </div>
{% else %}
    <div class="text">
        <p>Сьогодні нічого не святкуємо</p>
    </div>
{% endif %}

<hr>

<div class="title">
    <h3>Очікуємо найближчі свята</h3>
</div>

{% if next_holidays %}
    <ul>
        {% for holiday in next_holidays %}
            <li><strong>{{ holiday.date }}</strong> — {{ holiday.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет ближайших праздников.</p>
{% endif %}

<a href="{% url 'cal:add_holiday' %}" class="btn btn-outline-custom">додати свято</a>

{% endblock content %}