{% extends 'layout/basic.html' %}

{% block content %}

<section id="main" class="main">
  <div class="container">
    <a href="{% url 'texty:pages' page='mytareva'%}">
      <div class="row">
        <div class="col offset-1">
          <div class="title">
            <h3>
              Митарева молитва
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col offset-2">
          <div class="text">
            <p>
              Боже, милостивий будь мені, грішному...
            </p>
          </div>
        </div>
      </div>
    </a>

    <a href="{% url 'texty:pages' page='viruyu'%}">
      <div class="row">
        <div class="col offset-1">
          <div class="title">
            <h3>
              Молитва Вірую | Символ Віри
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col offset-2">
          <div class="text">
            <p>
              Вірую в єдиного Бога Отця, Вседержителя...
            </p>
          </div>
        </div>
      </div>
    </a>

    <a href="{% url 'texty:pages' page='viruyu-prychastya'%}">
      <div class="row">
        <div class="col offset-1">
          <div class="title">
            <h3>
              Молитва приготування до святого причастя
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col offset-2">
          <div class="text">
            <p>
              Вірую, Господи, і сповідую, що Ти – воістину Христос...
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>

{% endblock content %}