{% extends 'layout/basic.html' %}

{% block content %}

<section id="main" class="main ">
    <div class="container d-flex flex-column justify-content-center" style="height: 70vh;">
        <div class="row">
            <div class="col offset-1">
                <div class="title">
                    <h3>
                        Митарева молитва
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2">
                <div class="text text-stih">
                    <p>Боже, милостивий будь мені, грішному (грішній). </p>
                    <p>Боже, очисти мої гріхи і помилуй мене.</p>   
                    <p>Без числа нагрішив (нагрішила) я, Господи, прости мені.</p> 
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}