{% extends 'layout/basic.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'texty/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="section">   
    <div class="section_text">
        <h3>{{ prayer.name }}</h3>
        <p>{{ prayer.text|linebreaks }}</p>
    </div>    
    <div class="section_btn">
        <a href="{% url 'texty:prayer_list' %} " class="btn btn-primery btn-outline-custom">назад до списку</a>
    </div> 
</div>

{% endblock content %}


