{% extends 'layout/basic.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'texty/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="section">
    
    <div class="section_list">
        <ul>
            {% for prayer in prayers %}
            <div class="section_item">
                  <li>
                    <a href="{% url 'texty:prayer_detail' prayer.pk %}">
                        <h3>{{ prayer.name }}</h3>
                        <p>{{ prayer.text|truncatechars:30 }}</p>
                    </a>                
                </li>    
            </div>  
            {% empty %}
            <p>немає молитов для відображення</p>
            {% endfor %}
        </ul> 
    </div>
    <div class="section_btn">
        {% if request.user.is_authenticated %}
            <a href="{% url 'texty:add_prayer' %}" class="btn btn-outline-custom">додати молитву</a>
        {% endif %}
    </div>
    
</div>


{% endblock content %}

