{% extends 'layout/basic.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'texty/style.css' %}">
{% endblock styles %}

{% block content %}

<h1>список молитов</h1>

<ul>
    {% for prayer in prayers %}

    <h2>{{ prayer.name }}</h2>
    <p>{{ prayer.text|linebreaks|truncatechars:30 }}</p>
    
    {% empty %}

    <p>немає молитов для відображення</p>
     
    {% endfor %}
</ul>

<a href="{% url 'texty:add_prayer' %}" class="btn btn-outline-custom">додати молитву</a>
<!-- <a href="{% url 'texty:add_prayer' %}" class="element element-1">додати молитву</a> -->

{% endblock content %}

