{% extends 'layout/basic.html' %}

{% block content %}

<section id="main" class="main ">
    <div class="container d-flex flex-column justify-content-center" style="height: 70vh;">
        <div class="row">
            <div class="col offset-1">
                <div class="title">
                    <h3>
                        Молитва до Святого Духа
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-2">
                <div class="text text-stih">
                    <p>Царю Небесний, Утішителю, Душе істини, що всюди єси і все наповняєш, Скарбе дібр і життя подателю, прийди і вселися в нас, і очисти нас 
                    від усякої скверни, і спаси, Благий, душі наші.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}