{% extends 'layout/basic.html' %}

{% block content %}

<section id="main" class="main ">
    <div class="container d-flex flex-column justify-content-center" >
        <div class="row">
            <div class="col">
                <div class="title">
                    <h3>
                        Молитва приготування до святого причастя
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-stih">
                    <p>Вірую, Господи, і ісповідую, що Ти єси воістину Христос, Син Бога живого, який прийшов у світ грішників спасти, з яких перший (перша) я.</p>                     
                    <p>Вечері твоєї тайної днесь, Сину Божий, мене, причасника (причасницю), прийми, бо ворогам Твоїм тайни не повім і поцілунку не дам Тобі, як Юда, але як Розбійник сповідаюся Тобі:</p>                     
                    <p>Пом’яни мене, Господи, коли прийдеш у Царстві Твоїм.</p>                    
                    <p>Пом’яни мене, Владико, коли прийдеш у Царстві Твоїм.</p>                    
                    <p>Пом’яни мене, Святий, коли прийдеш у Царстві Твоїм.</p>                    
                    <p>Нехай не на суд і не осудження буде мені причастя Святих Твоїх Тайн, Господи, а на зцілення душі й тіла.</p>                    
                    <p>Боже, милостивий будь мені грішному (грішній).</p>                    
                    <p>Боже, очисти мої гріхи і помилуй мене.</p>                    
                    <p>Без числа нагрішив (наргрішила) я, Господи, прости мене.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}