.section {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* start prayer_list */

.section_title h2 {
  font-size: 35px;
  font-weight: 900;
}

.section_list {
  max-width: 500px;
  width: 100%;
}

.section_item {
  margin-bottom: 30px;
}

.section_item a {
  text-decoration: none;
  color: #283347;
}

.section_item h3, 
.section_text h3 {
  margin: 0;
  font-weight: 700;
}

.section_item p {
  line-height: 0.8;
}

/* end prayer_list */

/* start prayer_detail */

.section_text {
  max-width: 500px;
  width: 100%;
}

.section_text h3 {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

.section_text p {
  font-size: 18px;
  font-weight: 500;
  text-indent: 15px;
}



/* end prayer_detail */








