
{% extends 'layout/basic.html' %}

{% load static %}

{% block content %}

<section class="about-section">
    <h3 class="title-about">
        моя історія
    </h3>
    <div class="text-about">
        <p>
        Вітаю, ви потрапили до простору, де слово торкається душі. 
        </p>
        <p>
            Все почалось в один із сонячних квітневих днів. Милуючись теплими проміннями, я сидів і слухав недільну проповідь. На той час я тільки починав ходити до церкви. Тоді і виникла ідея створити свій молитовник і зробити так щоб він був доступний іншим. Першими з’явились «Отче наш» і «Богородице діво». Згодом додав сторінку псалмів. Сторінка зі святами – це взагалі так-би мовити персоналізований проект для матусі. 
        </p>
        <p>
            Іншими словами, тут я збираю тексти які потребує моє духовне життя.
        </p>
        <p>
            Буду тільки радий, якщо цей проект буде для когось корисний. 
        </p>
    </div>
    
</section>


    

{% endblock content %}